.grid__item_span_1 {
  margin-right: -10.5%;
  width: 10.5%;
}
.grid__item_span_2 {
  margin-right: -23%;
  width: 23%;
}
.grid__item_span_3 {
  margin-right: -35.5%;
  width: 35.5%;
}
.grid__item_span_4 {
  margin-right: -48%;
  width: 48%;
}
.grid__item_span_5 {
  margin-right: -60.5%;
  width: 60.5%;
}
.grid__item_span_6 {
  margin-right: -73%;
  width: 73%;
}
.grid__item_span_7 {
  margin-right: -85.5%;
  width: 85.5%;
}
.grid__item_span_8 {
  margin-right: -98%;
  width: 98%;
}
.grid__item_span_9 {
  margin-right: -110.5%;
  width: 110.5%;
}
.grid__item_span_10 {
  margin-right: -123%;
  width: 123%;
}
.grid__item_span_11 {
  margin-right: -135.5%;
  width: 135.5%;
}
.grid__item_span_12 {
  margin-right: -148%;
  width: 148%;
}
.grid__item_col_1 {
  left: 0%;
}
.grid__item_col_2 {
  left: 12.5%;
}
.grid__item_col_3 {
  left: 25%;
}
.grid__item_col_4 {
  left: 37.5%;
}
.grid__item_col_5 {
  left: 50%;
}
.grid__item_col_6 {
  left: 62.5%;
}
.grid__item_col_7 {
  left: 75%;
}
.grid__item_col_8 {
  left: 87.5%;
}
.grid__item_col_9 {
  left: 100%;
}
.grid__item_col_10 {
  left: 112.5%;
}
.grid__item_col_11 {
  left: 125%;
}
.grid__item_col_12 {
  left: 137.5%;
}
.grid_reversed .grid__item_span_1 {
  margin-left: -10.5%;
}
.grid_reversed .grid__item_span_2 {
  margin-left: -23%;
}
.grid_reversed .grid__item_span_3 {
  margin-left: -35.5%;
}
.grid_reversed .grid__item_span_4 {
  margin-left: -48%;
}
.grid_reversed .grid__item_span_5 {
  margin-left: -60.5%;
}
.grid_reversed .grid__item_span_6 {
  margin-left: -73%;
}
.grid_reversed .grid__item_span_7 {
  margin-left: -85.5%;
}
.grid_reversed .grid__item_span_8 {
  margin-left: -98%;
}
.grid_reversed .grid__item_span_9 {
  margin-left: -110.5%;
}
.grid_reversed .grid__item_span_10 {
  margin-left: -123%;
}
.grid_reversed .grid__item_span_11 {
  margin-left: -135.5%;
}
.grid_reversed .grid__item_span_12 {
  margin-left: -148%;
}
.grid_reversed .grid__item_col_1 {
  right: 0%;
}
.grid_reversed .grid__item_col_2 {
  right: 12.5%;
}
.grid_reversed .grid__item_col_3 {
  right: 25%;
}
.grid_reversed .grid__item_col_4 {
  right: 37.5%;
}
.grid_reversed .grid__item_col_5 {
  right: 50%;
}
.grid_reversed .grid__item_col_6 {
  right: 62.5%;
}
.grid_reversed .grid__item_col_7 {
  right: 75%;
}
.grid_reversed .grid__item_col_8 {
  right: 87.5%;
}
.grid_reversed .grid__item_col_9 {
  right: 100%;
}
.grid_reversed .grid__item_col_10 {
  right: 112.5%;
}
.grid_reversed .grid__item_col_11 {
  right: 125%;
}
.grid_reversed .grid__item_col_12 {
  right: 137.5%;
}
.grid {
  position: relative;
  margin-right: 32.44%;
  *zoom: 1;
}
.grid:before,
.grid:after {
  clear: both;
  content: '';
  display: block;
}
.grid__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
  min-height: 40px;
  margin-bottom: 20px;
}
.grid_reversed {
  direction: rtl;
  margin-left: 32.44%;
  margin-right: 0;
}
.grid_reversed .grid__item {
  direction: ltr;
  text-align: left;
  margin-right: 0;
  left: auto;
}
